/* You can add global styles to this file, and also import other style files */
app-node:first-child li.node {
    border: none;
    border-bottom: 1px solid #000;
}

app-node app-box li.node {
    border: none !important;
}