.node-name {
    width: 180px;
    display: block;
    top: 56px;
    position: absolute;
    padding: 19px;
    .fa-trash {
        top: 0;
        right: 10px;
    }
    input {
        width: 100%;
        height: 50px;
        border-radius: 0;
    }
    .add-node {
        .right {
            right: 0;
            top: 2.2rem;
        }
        .left {
            left: 0;
            top: 2.2rem;
        }
        .top {
            top: 0;
        }
        .bottom {
            bottom: 0;
        }
    }
    .node-label{
        font-size: 12px;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #000;
        width: 142px;
        height: 46px;
        vertical-align: middle;
        overflow: hidden;
        line-height: 21px;
        i{
            cursor: pointer;
            position: absolute;
            top: 22px;
            right: 21px;
        }
    }
}