.graph-container {
    width: 95%;
    min-height: 800px;
    overflow-y: hidden;
    overflow-x: scroll;
    app-graph {
        width: 1800px;
        display: block;
    }
}

ul {
    padding: 10% 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    height: 120px;
}

ul input {
    margin-left: 10%;
    display: inline;
    width: 220px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

ul label {
    margin-left: 10%;
    display: inline;
}

.panel {
    float: left;
}

.borderRight {
    border-right: 2px solid #b9b9bd
}

.borderLeft {
    border-left: 2px solid #b9b9bd
}

.borderTop {
    border-top: 2px solid #b9b9bd
}

.borderBottom {
    border-bottom: 2px solid #b9b9bd
}

.btnColor {
    color: #b7c2e4;
}

.parallelTop {
    position: relative;
    bottom: 43px;
    left: 266px;
}

.parallelBottom {
    position: relative;
    top: 40px;
    right: 157px;
}

.innerDiv {
    height: 50px;
}

.endPanel {
    width: 3%;
    float: left;
}

.endLi {
    border-bottom: 2px solid #b9b9bd;
}

.beginLabel {
    position: relative;
    top: 106px;
    margin-left: 0% !important;
}

.endLabel {
    position: relative;
    top: 86px;
    left: 47px;
}

.seriesBtn {
    position: relative;
    top: 113px;
}

.endLabelColor {
    color: #3ac340;
}

.seriesFirst {
    position: relative;
    left: 36px;
}

.beginLabelColor {
    color: #3ac340;
    background-color: white;
}

::placeholder {
    color: #dadfe2;
    opacity: 1;
}