ul.box {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    li {
        list-style-type: none;
        display: block;
        padding: 0;
        border: 1px solid #000;
        border-bottom: none;
        position: relative;
        height: 100px;
        .node-control {
            padding: 0 19px;
            min-width: 240px;
            position: relative;
            /*.node-name {
                background-color: #d6d6d6;
                width: 180px;
                display: block;
                top: -44px;
                position: absolute;
                z-index: 9;
                .fa-trash {
                    top: -19px;
                    right: 0;
                }
                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 0;
                }
                .add-node {
                    .right {
                        right: -18px;
                        top: 17px;
                    }
                    .left {
                        left: -16px;
                        top: 17px;
                    }
                    .top {
                        top: -17px;
                    }
                    .bottom {
                        bottom: -17px;
                    }
                }
            }*/
        }
    }
    li:last-child {
        border: none;
        border-top: 1px solid #000;
    }
    li.node.no-right-border {
        border-right: none !important;
    }
    li.node.no-left-border {
        border-left: none !important;
    }
    li.inner-node {
        border: none !important;
    }
    .af-icon {
        position: absolute;
        color: #b5b5b5;
        cursor: pointer;
        display: none;
    }
    .mouse-on-node {
        .af-icon {
            display: inline;
        }
    }
    .fa-plus-circle.af-icon {
        background-color: #fff;
        border-radius: 50%;
    }
}

.play,
.done {
    position: absolute;
    top: -24px;
    background: #fff;
    color: #48da26;
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    border: 1px solid #eaeaea;
}

.play {
    left: 0;
}

.done {
    right: -30px;
}

.startNode,
.endNode {
    width: 80px;
}