ul.box {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    margin-top: 1px;
    li {
        list-style-type: none;
        display: block;
        padding: 0;
        border: 1px solid #000;
        border-bottom: none;
        position: relative;
        height: 100px;
        text-align: left;
        .node-control {
            padding: 0 19px;
            min-width: 240px;
            position: relative;
        }
    }
    li:last-child {
        border: none;
        border-top: 1px solid #000;
    }
    li.node.no-right-border {
        border-right: none !important;
    }
    li.node.no-left-border {
        border-left: none !important;
    }
    li.inner-node {
        border: none !important;
    }
    .af-icon {
        position: absolute;
        color: #b5b5b5;
        cursor: pointer;
        display: none;
    }
    .mouse-on-node {
        .af-icon {
            display: inline;
        }
    }
    .fa-plus-circle.af-icon {
        background-color: #fff;
        border-radius: 50%;
    }
}

.play,
.done {
    position: absolute;
    top: -24px;
    background: #fff;
    color: #48da26;
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    border: 1px solid #eaeaea;
}

.play {
    left: 0;
}

.done {
    right: -30px;
}

.startNode,
.endNode {
    width: 80px;
}

ul.box .af-icon {
    background-color: #fff;
    border-radius: 50%;
    display: inline;
    z-index: 1;
}
.add-node {
    display: inline;
    .top {
        top: -44px;
        left: 50%;
    }
    .bottom {
        bottom: 55px;
        left: 50%;
    }
    .drag-over{
        font-weight: bold;
    }
}

.startNode, .endNode{
    i.fa.fa-plus-circle.af-icon {
        top: -9px;
        left: 48px;
    }
}