<ul class="box" *ngFor="let box of data.boxes; let _index = index">
    <li class="node" 
    [class.no-right-border]="data.boxes[_index + 1] && box.nodes.length < data.boxes[_index + 1].nodes.length" 
    [class.no-left-border]="data.boxes[_index - 1] && box.nodes.length < data.boxes[_index - 1].nodes.length"
    *ngFor="let node of box.nodes; let liIndex = index">
        
        <div *ngIf="node.name" class="node-control">
            <app-node [node]="node" [nodeIndex]="liIndex" [box]="box"></app-node>
        </div> 

        <ul class="box" *ngFor="let _box of node.boxes">
            <li class="node inner-node" *ngFor="let _node of _box.nodes; let _liIndex = index">
                <div *ngIf="_node.name" class="node-control">
                    <app-node [node]="_node" [nodeIndex]="_liIndex" [box]="_box"></app-node>
                </div>
            </li>
        </ul>

    </li>
</ul>
    